#---------------------------------------------------
# Built application files
#---------------------------------------------------
*.apk
*.aab
*.ap_
*.dex
*.aapt
*.so

#---------------------------------------------------
# Files for the Android/Gradle Build System
#---------------------------------------------------
.gradle/
build/
app/build/ # Added for clarity in multi-module projects
.externalNativeBuild/
.cxx/

# Gradle settings
local.properties
.DS_Store

#---------------------------------------------------
# IDEA / Android Studio
#---------------------------------------------------
# IDE-specific files
.idea/
# Optional exception: uncomment if you share run configurations
# !.idea/runConfigurations

# Module files
*.iml

# Keystore files
*.keystore

# Android Studio navigation and captures
/captures/
nav_editor_log.xml